@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@100;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 40vw;
  background-color: #191c32;
  color: #fff;
  overflow: hidden;
  background-image: url(../img/walp.jpg);
  background-size: cover;
}

.porfolio {
  width: 100%;
  height: 80%;
  background-color: #191c32;
  color: #fff;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form textarea {
  height: 150px;
  background: none;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.contacto {
  width: 100%;
  height: 38em;
  background-color: #191c32;
  color: #fff;
  padding: 3em;
  overflow: hidden;
}
.contacto-contenedor {
  padding: 1.9em;
  margin: 0 auto;
}
.contacto-formulario {
  padding: 1.5em;
  margin: 0 auto;
  float: left;
}
.contacto-contenedor img {
  width: 45%;
  bottom: 0;
  top: 9px;
  float: right;
}
.contacto-head h2 {
  font-size: 2em;
}

.jean {
    width: 103% !important;
    position: relative;
    left: 76px;
    top: -22px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #1d213b;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.brand {
  margin-top: -7;
}

.brand span {
  color: aqua;
}

.menu {
  display: flex;
  width: 45%;
  justify-content: space-around;
  margin-top: 1em;
}

.menu li {
  list-style: none;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-weight: bold;
}

.menu .active {
  color: aqua;
}

.menu a:hover {
  background-color: rgb(255, 255, 255);
  color: #191c32;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.5em;
  z-index: 2;
  padding: 8px;
}

.main {
  top: 550px !important;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

p {
  font-size: 1.2em;
  color: #5b5b5e;
  text-align: justify;
}
h1 {
  font-size: 2em;
}

span {
  color: aqua;
}

.download-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 0.5em;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 49);
}

.proyecto-boton {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 0.5em;
  margin-top: 17px !important;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 49);
}

.proyecto-boton:hover {
  background-color: #fff;
  box-shadow: none;
}
.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}

.main img {
  width: 380px;
  border: 0px solid aqua;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}
.about img {
  width: 100%;
  grid-column: 1/5;
}
.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 4px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.porfolio-head {
  width: 100vw;
  padding: 1.5em;
}
.porfolio-head h2 {
  font-size: 2em;
}

.portfolio {
  width: 100%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo {
  width: 35%;
}
.container {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #191c32;
}

.card {
  width: 100%;
  background-color: #1a1f3f;
  height: 550px;
  padding: 0.2em;
  border-radius: 0.5em;
  margin: 1em;
}

.correo-enviado {
  display: none;
}


.card-image-cinex:hover {
  transform: scale(1.1);
}

.card-image-pokex:hover {
  transform: scale(1.1);
}

.card-image-ahorked:hover {
  transform: scale(1.1);
}
.card-image-progresuss:hover {
  transform: scale(1.1);
}
.card-image-zinu:hover {
  transform: scale(1.1);
}
.card-image-azul:hover {
  transform: scale(1.1);
}
.card-image-mistareas:hover {
  transform: scale(1.1);
}

.card-image-encriptex:hover {
  transform: scale(1.1);
}

.card-image-rescue:hover {
  transform: scale(1.1);
}

.card-image-maq:hover {
  transform: scale(1.1);
}
.card-image-fifa:hover {
  transform: scale(1.1);
}

.card-image-rece:hover {
  transform: scale(1.1);
}
.card-image {
  width: 100%;
  height: 45%;
  background-image: url(../img/2-original.png);
  background-size: cover;
  border-radius: 2em;
}

.card-image-cinex {
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/capturacinex.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}


.card-image-rece {
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/rece.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}

.card-image-maq{
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/maq.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}


.card-image-fifa{
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/fifa.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}
.card-image-progresuss {
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/capturaprogresuss.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}

.card-image-rescue {
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/rescupets.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}


.card-image-encriptex{
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/encriptex.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}



.card-image-ahorked{
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/capturahorked.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}



.card-image-pokex {
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/capturapokex.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: 25% 25%;
}


.card-image-azul {
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/azulurbano.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: center 45%;
}

a {
  color: #000000;
  text-decoration: none;
}
.card-image-zinu {
  transition: transform 0.2s;

  width: 100%;
  height: 45%;
  background-image: url(../img/zinuplay.jpg);
  background-size: cover;
  align-items: center;
  align-content: center;
  background-position: center 45%;
}

.card-image-mistareas {
  width: 100%;
  height: 45%;
  background-image: url(../img/mistareas.png);
  background-size: cover;
  background-position: 25% 45%;
}

a#pull {
  display: none;
}

.card-title {
  padding: 20px;
}

.card-proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.proyect-links a {
  color: #fff;
  text-decoration: none;
}
.redes {
  justify-content: space-evenly;
  color: #fff;
}

.redes a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

.redes a:hover {
  color: aqua;
  text-decoration: none;
  transition: ease-in 0.4s;
}
.proyect-links i {
  font-size: 1.5em;
}

.card .proyect-details {
  margin: 1em;
  width: 70%;
  margin: 0 auto;
  align-self: center;
}
.proyect-details a {
  text-decoration: none;
}
.proyecto-conten-detalles {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.footer {
  display: flex;
  background-color: #1d213b;
  flex-direction: column;
  padding: 40px;
  width: 100vw;
  height: 100%;
  background-image: url(../img/walp.jpg);
  background-size: cover;
}

.footer-contenido h2 {
  font-size: 1.6em;
  color: #fff;
}
.footer-contenido h5 {
  font-size: 1em;
  padding: 7px;
  color: #3f4570;
}
.footer p {
  font-size: 13px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 950px) {
  .main img {
    width: 200px;
    border: 0px solid aqua;
  }

  .main {
    margin: 0 auto;
    width: 100%;
    height: 110%;
    display: grid;
    grid-template-columns: auto;
    align-self: center;
    padding: 40px;
  }

  .wrapper {
    width: 100vw;
    height: 112vw;
    background-color: #191c32;
    color: #fff;
    align-items: center;
    align-self: center;
  }

  .porfolio {
    width: 100%;
    height: 120% !important;
    background-color: #191c32;
    color: #fff;
    align-items: center;
    align-self: center;
  }

  .card {
    width: 90%;
    height: 50%;
    background-color: #1a1f3f;
    height: 350px;
    padding: 0.2em;
    border-radius: 0.5em;
    border: 6px solid #191c32;
  }

  .navbar {
    border-bottom: 0;
    height: auto;
  }

  .navbar ul {
    display: none;
    height: auto;
    width: 60%;
  }

  .nav li {
    width: 50%;
    float: right;
  }

  .nav a {
    text-align: left;
    width: 80%;
    text-indent: 25px;
    text-decoration: none;
  }

  .menu a {
    color: white;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: rgb(255, 255, 255);
    color: #191c32;
    font-weight: bold;
    border-radius: 0.4em;
  }

  .navbar a#pull {
    display: block;
    width: 1%;
    position: relative;
  }

  #jean {
    display: none;
  }
  .navbar a#pull:after {
    content: "";

    background: url(../img/nav-icon.png) no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  h2 {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
  }

  .container {
    width: 90%;
    margin: 18x;
    display: grid;
    justify-content: center;
    background-color: #191c32;
  }

  .container p {
    font-size: 11px;
  }

  .about {
    width: 250vw;
    align-items: center;
  }

  .about-info {
    grid-column: 1/5;
    padding: 2em;
  }
  .logo {
    width: 30%;
  }
  p {
    font-size: 1em;
    color: #5b5b5e;
  }

  .contacto {
    width: 100vw;
    height: 35% !important;
    background-color: #191c32;
    color: #fff;
  }

  .contacto-formulario {
    width: 100%;
    padding: 0em;
  }
  .contacto-contenedor img {
    width: 98%;
    bottom: 0;
    top: 9px;
    float: none;
    align-items: center !important;
  }

  .form input {
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 200% !important;
    height: 50px !important;
  }

  .form textarea {
    width: 200% !important;
    height: 150px;
    background: none;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
}
